# Dependencies
node_modules/

# Build artifacts
dist/

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/

# Electron logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
